<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br>
        <h1 class=" text-uppercase fw-bold">Ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Torsi칩n de espalda</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio Sentado</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Muslos y cadera</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de M치s dif칤cil todav칤a</small></h3>

            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Sentado en el suelo. Pierna derecha estirada. Dobla la izquierda y p치sala
                        por encima de la derecha. Coloca el brazo izquierdo por encima de la rodilla flexionada y
                        presiona con el codo para hacer una torsi칩n de espalda. Siente el estiramiento. Repite al otro
                        lado.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Estira la pierna derecha y flexiona la izquierda llevando el pie hacia la ingle. Mant칠n
                        el equilibrio. Inclina el cuerpo hacia delante para intentar tocar los dedos de los pies. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Tumbado boca abajo. Flexiona una pierna y coge el pie con la mano del
                        mismo lado. Tira de ella todo lo que puedas sin que el muslo se despegue del suelo. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Coge el pie por detr치s y tira de 칠l hasta que llegue a la cabeza. No
                        bloquees la rodilla de la otra pierna para no quedar en hiperextensi칩n y deja el brazo libre
                        estirado hacia delante para mantener el equilibrio.</small></p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Lumbares</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Abductores</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Zancada en sof치</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de El puente</small></h3>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Estira una pierna y encoge la otra cogi칠ndote de la rodilla y tirando de ella hacia
                        el pecho. La pierna estirada no debe levantarse del suelo. Cambia de pierna.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small> Sentado en el suelo. Abre las piernas estiradas lo m치s que puedas e inclina el
                        torso hacia delante, sin doblar las rodillas. Estira los brazos e intenta bajar un poco
                        m치s.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Una pierna se adelanta, como en las zancadas normales, con la rodilla en
                        90 grados y la otra est치 estirada hacia atr치s, pero apoyada en un sof치 o en una silla. Es
                        dif칤cil
                        mantener la posici칩n. Aguanta y cambia de lado.
                    </small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Es una postura de yoga y estira columna, pecho, cuello y hombros. Boca arriba en
                        el suelo con las rodillas flexionadas. Levanta la pelvis y el torso hasta los hombros. Estira
                        los
                        hombros hacia abajo para que queden bien apoyados en el suelo. Mirada al techo y brazos
                        estirados y apoyados en el suelo.</small></p>
            </div>

        </div>
        <br>
        <br>
        <h2>Ejercicios de Entrenamiento para Equilibrio</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Pararse en T</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Equilibrio sobre una sola pierna</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -21px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Equilibrio sobre una sola pierna con movimiento</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Equilibrio de los B칤ceps</small></h3>

            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Sentado en el suelo. Pierna derecha estirada. Dobla la izquierda y p치sala
                        por encima de la derecha. Coloca el brazo izquierdo por encima de la rodilla flexionada y
                        presiona con el codo para hacer una torsi칩n de espalda. Siente el estiramiento. Repite al otro
                        lado.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Estira la pierna derecha y flexiona la izquierda llevando el pie hacia la ingle. Mant칠n
                        el equilibrio. Inclina el cuerpo hacia delante para intentar tocar los dedos de los pies. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Tumbado boca abajo. Flexiona una pierna y coge el pie con la mano del
                        mismo lado. Tira de ella todo lo que puedas sin que el muslo se despegue del suelo. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Coge el pie por detr치s y tira de 칠l hasta que llegue a la cabeza. No
                        bloquees la rodilla de la otra pierna para no quedar en hiperextensi칩n y deja el brazo libre
                        estirado hacia delante para mantener el equilibrio.</small></p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Lumbares</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Abductores</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Zancada en sof치</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de El puente</small></h3>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Estira una pierna y encoge la otra cogi칠ndote de la rodilla y tirando de ella hacia
                        el pecho. La pierna estirada no debe levantarse del suelo. Cambia de pierna.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small> Sentado en el suelo. Abre las piernas estiradas lo m치s que puedas e inclina el
                        torso hacia delante, sin doblar las rodillas. Estira los brazos e intenta bajar un poco
                        m치s.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Una pierna se adelanta, como en las zancadas normales, con la rodilla en
                        90 grados y la otra est치 estirada hacia atr치s, pero apoyada en un sof치 o en una silla. Es
                        dif칤cil
                        mantener la posici칩n. Aguanta y cambia de lado.
                    </small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Es una postura de yoga y estira columna, pecho, cuello y hombros. Boca arriba en
                        el suelo con las rodillas flexionadas. Levanta la pelvis y el torso hasta los hombros. Estira
                        los
                        hombros hacia abajo para que queden bien apoyados en el suelo. Mirada al techo y brazos
                        estirados y apoyados en el suelo.</small></p>
            </div>

        </div>
        <br>
        <br>
        <h2>Ejercicios de Entrenamiento para Cardio</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/run.png" alt="" width="250px" height="200px">
                <h3><small>RUNNING</small></h3>
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>C칠ntrate en utilizar los brazos de forma eficiente y en mantener el rango de movimiento adecuado. Cuando las piernas empiecen a responder mejor, a침ade velocidad tanto a los brazos como a las piernas. Haz el ejercicio de 10 a 20 metros cada vez y recup칠rate un momento.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/eli.png" alt="" width="250px" height="200px">
                <h3><small>EL칈PTICA</small></h3>
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Se debe empujar y tirar de forma activa de los mangos, no s칩lo aferrarse. Apoyarse en la m치quina puede reducir el fortalecimiento y los efectos de quemar grasa con el칤ptica. Adem치s, con el tiempo, puede tensar los hombros y la espalda. Es importante revisar la velocidad.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/sen.png" alt="" width="250px" height="200px">
                <h3><small>SENDERISMO</small></h3>
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Col칩cate derecho, con los pies a la altura de los hombros y con la espalda recta.
                    Empieza el movimiento doblando rodillas y sacando los gl칰teos como si fueras a sentarte.
                    Sigue descendiendo hasta ponerte pr치cticamente de cuclillas, con los muslos paralelos al suelo.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/bici.png" alt="" width="250px" height="200px">
                <h3><small>BICICLETA</small></h3>
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Si disopnemos de una bicicleta en nustro departamento podemos utilizarla como queramos sin ningun y tratar de ver videso en internet de como realizar actividades en nuestar bicicleta. O si no tratar de realizar el estilo de bicicleta acostados y simular qeu tenemos una.</small></p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/bur.png" alt="" width="250px" height="200px">
                <h3><small>BURPEES</small></h3>
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Para realizar el ejercicio de 춺burpees췉 se parte de una posici칩n inicial en cuclillas, se colocan las manos en el suelo y se mantiene la cabeza erguida. Despu칠s se desplazan las piernas hacia atr치s con los pies juntos y se hace una flexi칩n de pecho</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/salto.jpg" alt="" width="250px" height="200px">
                <h3><small>SENTADILLAS CON SALTO</small></h3>
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Las sentadillas con salto, conocidas como las sentadillas m치s explosivas, comienzan con los pies por fuera de las caderas y las rodillas en la misma direcci칩n que las puntas de los pies. Luego echamos la cadera hacia atr치s y flexionamos las caderas en 90 grados.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/mou.png" alt="" width="250px" height="200px">
                <h3><small>MOUNTAIN CLIMBERS</small></h3>
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Para empezar hay que colocarse tumbados boca abajo en el suelo apoyando las manos con los dedos dirigidos hacia el frente a la anchura de los hombros como en una plancha isom칠trica con los brazos extendidos y el cuerpo apoyado sobre las palmas de las manos y los dedos de los pies </small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/QQkpHI9qv0A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>HIIT</small></h3>
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>El entrenamiento HIIT (entrenamiento a intervalos de alta intensidad) se define como la realizaci칩n de sesiones cortas (de entre 4 y 20 minutos) con series de entre 20 segundos hasta 4 min de ejercicios HIIT (de intensidad alta, no m치xima), intercalados con per칤odos de recuperaci칩n o intensidad baja</small></p>
            </div>

        </div>
        <br>
        <br>
        <h2>Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <h1 class=" text-uppercase fw-bold">Rutinas de Ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <h1 class=" text-uppercase fw-bold">Blog de curiosidades sobre los ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <h1 class=" text-uppercase fw-bold">Visualizaci칩n de Ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Visualizaci칩n de Ejercicios de Entrenamiento para Equilibrio</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Visualizaci칩n de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/xNXcOU8lM2s"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>GANAR FLEXIBILIDAD|EJERCICIOS DE ESTIRAMIENTOS</small></h3>
                <p>Rutina de ejercicios de estiramiento para ganar flexibilidad</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/r5_p4cCqk-k"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>GANAR FLEXIBILIDAD|AUMENTAR FLEXIBILIDAD 游댠</small></h3>
                <p>Les dejo mi rutina de elongaci칩n para cuando terminen un entrenamiento.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/cK5Yt98p5CE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>C칩mo AUMENTAR TU FLEXIBILIDAD RAPIDAMENTE Garantizado</small></h3>
                <p>Para comenzar esta fluida rutina de movilidad, realizas el gusano de pulgada z</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/ZqbWXx3xcuY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>EJERCICIOS para ESTIRAR y aumentar tu MOVILIDAD</small></h3>
                <p>Esta rutina de ejercicios para estirar la pod칠is hacer antes o despu칠s de los entrenamientos</p>
            </div>

        </div>

        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 20px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/_STf6WF5lAc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>Ejercicios de FLEXIBILIDAD para principiantes - FLEXIBILIDAD EJERCICIOS</small></h3>
                <p>Rutina de ejercicios de estiramiento para ganar flexibilidad</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="220" src="https://www.youtube.com/embed/Gnbg88khUug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>Estiramientos para aumentar flexibilidad y movilidad</small></h3>
                <p>Ejercicios para ganar flexibilidad muy f치ciles y que los pod칠is hacer en casa.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/rjo5tax33yk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>10 Mejores Ejercicios Movilidad | Flexibilidad (PRE-ENTRENAMIENTO)/small></h3>
                <p>Los mejores ejercicios de movilidad y flexibilidad </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/cKiJwQVFxCU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>FLEXIBILIDAD EN 1 D칈A - 4 CONSEJOS PARA SER M츼S FLEXIBLE | KASS CALISTENIA</small></h3>
                <p>FLEXIBILIDAD EN 1 D칈A</p>
            </div>

        </div>

        </div>
        <br>
        <br>
        <h2>Visualizaci칩n de Ejercicios de Entrenamiento para Equilibrio</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/9Lc4y5RsrnA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>EJERCICIOS DE EQUILIBRIO | Mu칠vete en casa</small></h3>
                <p>Conseguir reforzar nuestros tobillos, base importante de nuestro cuerpo</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/Z9Wwxgj9wAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>5 EJERCICIOS para MEJORAR el EQUILIBRIO</small></h3>
                <p>5 ejercicios que te ayudar치n a mejorar el equilibrio corporal /p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/wCJrsgxyCYI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>EQUILIBRIO y FUERZA de PIERNAS</small></h3> 
                <p>Ejercicios simples de equilibrio ganar fuerza y estabilidad en las piernas.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/mC_Wdu6d-rM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>5 Ejercicios de EQUILIBRIO para Adultos Mayores (prevenci칩n de ca칤das)</small></h3> 
                <p>5 ejercicios para trabajar el equilibrio en el adulto mayor y as칤 ayudar en la prevenci칩n de ca칤das./p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/FnKlJBrOv-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>5 ejercicios para trabajar y as칤 ayudar en la prevenci칩n de ca칤das y lesiones.</small></h3> 
                <p> En este video hablamos de los saltos y el equilibrio en f칰tbol, como un m칠todo para prevenir lesiones.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/9GjeEFpbuTM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>ENTRENA EL EQUILIBRIO Y ESTABILIDAD CON BOSU 2021</small></h3> 
                <p> Para lograr ese objetivo, en el segmento de entrenamiento RUNFIT. </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/nEaQ5IpFCRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>Mejora tu equilibrio con estos ejercicios</small></h3> 
                <p> Vamos a trabajar el equilibrio a trav칠s de una secuencia de cinco posiciones. </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/FdCjXZzAEPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>EJERCICIOS PARA MEJORAR EL EQUILIBRIO</small></h3> 
                <p> Realiza diversas ejercicios de equilibros para no poder caerse y estar bien firmes </p>
            </div>

        </div>
        <br>
        <br>
        <h2>Visualizaci칩n de Ejercicios de Entrenamiento para Cardio</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/r042VgJCe40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>Ejercicios cardiovasculares para quemar grasa de todo el cuerpo</small></h3> 
                <p> Hoy os traemos una rutina algo m치s exigente que las semanas anteriores. Con ella quemar치s muchas calor칤as</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/0YRX4pEP6pY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>CARDIO 30 MINUTOS PARA ELIMINAR GRASA ABDOMINAL</small></h3> 
                <p> Hoy os traigo una rutina de cardio con ejercicios para reducir la cintura de 30 minutos</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/VKOYzh10ipE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>Rutina Cardio Todo el Cuerpo 30 minutos </small></h3> 
                <p> Est치 compuesto por 10 diferentes ejercicios aer칩bicos que ir치n aumentando de intensidad progresivamente  </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/WNz9C_vyIB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>Cardio Sin Saltos Para Perder Peso Rapido</small></h3> 
                <p> Tiene una duracio패n de 20 minutos incluido el estiramiento al final. Es ideal si tienes poco tiempo</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/FJJ0dAsTg7o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>Cardio en Casa para Quitar Grasa Rapido</small></h3> 
                <p> Hoy les mostrare una rutina de cardio en casa para adelgazar y bajar de peso. Es un entrenamiento muy intenso</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/yOkFhJBEKwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>RUTINA de ejercicios para ADELGAZAR</small></h3> 
                <p> Esta rutina para adelgazar o para bajar de peso me la hab칠is pedido much칤simos fuertacos, as칤 que vuestros deseos son 칩rdenes </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/IiAJz6WCHvc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>CARDIO SIN SALTOS para PERDER PESO RAPIDOR</small></h3> 
                <p> Esta rutina para adelgazar esat compuesta de mucho baile para tener una buena resistencia</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/x5BuK8JqODU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3><small>CARDIO PARA QUEMAR GRASA EN TODO EL CUERPO</small></h3> 
                <p> este video para "quemar grasa en todo el cuerpo" aparte de mejorar tu salud, es mejorar tu sistema cardio vascular</p>
            </div>

        </div>
        <br>
        <br>
        <br>

        <a href="/about" class="btn btn-primary w-25">Productos</a>
        <%- include('partials/footer')%>
</body>

</html>