<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br>
        <h1 class=" text-uppercase fw-bold">Ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Torsi칩n de espalda</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio Sentado</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Muslos y cadera</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de M치s dif칤cil todav칤a</small></h3>

            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Sentado en el suelo. Pierna derecha estirada. Dobla la izquierda y p치sala
                        por encima de la derecha. Coloca el brazo izquierdo por encima de la rodilla flexionada y
                        presiona con el codo para hacer una torsi칩n de espalda. Siente el estiramiento. Repite al otro
                        lado.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Estira la pierna derecha y flexiona la izquierda llevando el pie hacia la ingle. Mant칠n
                        el equilibrio. Inclina el cuerpo hacia delante para intentar tocar los dedos de los pies. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Tumbado boca abajo. Flexiona una pierna y coge el pie con la mano del
                        mismo lado. Tira de ella todo lo que puedas sin que el muslo se despegue del suelo. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Coge el pie por detr치s y tira de 칠l hasta que llegue a la cabeza. No
                        bloquees la rodilla de la otra pierna para no quedar en hiperextensi칩n y deja el brazo libre
                        estirado hacia delante para mantener el equilibrio.</small></p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Lumbares</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Abductores</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Zancada en sof치</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de El puente</small></h3>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Estira una pierna y encoge la otra cogi칠ndote de la rodilla y tirando de ella hacia
                        el pecho. La pierna estirada no debe levantarse del suelo. Cambia de pierna.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small> Sentado en el suelo. Abre las piernas estiradas lo m치s que puedas e inclina el
                        torso hacia delante, sin doblar las rodillas. Estira los brazos e intenta bajar un poco
                        m치s.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Una pierna se adelanta, como en las zancadas normales, con la rodilla en
                        90 grados y la otra est치 estirada hacia atr치s, pero apoyada en un sof치 o en una silla. Es
                        dif칤cil
                        mantener la posici칩n. Aguanta y cambia de lado.
                    </small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Es una postura de yoga y estira columna, pecho, cuello y hombros. Boca arriba en
                        el suelo con las rodillas flexionadas. Levanta la pelvis y el torso hasta los hombros. Estira
                        los
                        hombros hacia abajo para que queden bien apoyados en el suelo. Mirada al techo y brazos
                        estirados y apoyados en el suelo.</small></p>
            </div>

        </div>
        <br>
        <br>
        <h2>Ejercicios de Entrenamiento para Equilibrio</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Pararse en T</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Equilibrio sobre una sola pierna</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -21px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Equilibrio sobre una sola pierna con movimiento</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Equilibrio de los B칤ceps</small></h3>

            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Sentado en el suelo. Pierna derecha estirada. Dobla la izquierda y p치sala
                        por encima de la derecha. Coloca el brazo izquierdo por encima de la rodilla flexionada y
                        presiona con el codo para hacer una torsi칩n de espalda. Siente el estiramiento. Repite al otro
                        lado.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Estira la pierna derecha y flexiona la izquierda llevando el pie hacia la ingle. Mant칠n
                        el equilibrio. Inclina el cuerpo hacia delante para intentar tocar los dedos de los pies. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Tumbado boca abajo. Flexiona una pierna y coge el pie con la mano del
                        mismo lado. Tira de ella todo lo que puedas sin que el muslo se despegue del suelo. Cambia
                        de pierna.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Coge el pie por detr치s y tira de 칠l hasta que llegue a la cabeza. No
                        bloquees la rodilla de la otra pierna para no quedar en hiperextensi칩n y deja el brazo libre
                        estirado hacia delante para mantener el equilibrio.</small></p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Lumbares</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Abductores</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de Zancada en sof치</small></h3>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <h3><small>Ejercicio de El puente</small></h3>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-left"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Estira una pierna y encoge la otra cogi칠ndote de la rodilla y tirando de ella hacia
                        el pecho. La pierna estirada no debe levantarse del suelo. Cambia de pierna.</small></p>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small> Sentado en el suelo. Abre las piernas estiradas lo m치s que puedas e inclina el
                        torso hacia delante, sin doblar las rodillas. Estira los brazos e intenta bajar un poco
                        m치s.</small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Una pierna se adelanta, como en las zancadas normales, con la rodilla en
                        90 grados y la otra est치 estirada hacia atr치s, pero apoyada en un sof치 o en una silla. Es
                        dif칤cil
                        mantener la posici칩n. Aguanta y cambia de lado.
                    </small></p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <h4><small>쮺칩mo se realiza?</small></h4>
                <p><small>Es una postura de yoga y estira columna, pecho, cuello y hombros. Boca arriba en
                        el suelo con las rodillas flexionadas. Levanta la pelvis y el torso hasta los hombros. Estira
                        los
                        hombros hacia abajo para que queden bien apoyados en el suelo. Mirada al techo y brazos
                        estirados y apoyados en el suelo.</small></p>
            </div>

        </div>
        <br>
        <br>
        <h2>Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Ejercicios de Entrenamiento para Equilibrio</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5IzCNw_RW6zhrep7UTGmf7S4YzG6o0VNh4g&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>SENTADILLAS</small></h3>
                <p>Nos colocaremos de pie con los pies en paralelo y abiertos a la anchura de las caderas. Nuestros
                    brazos se colocar치n a lo largo del cuerpo. Cogeremos aire y al soplar bajaremos con las rodillas
                    paralelas sin sobrepasar las puntas de los dedos.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkbvZcT653ZK6KdJB47c_hPnMmKsnh0PlVmw&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>CUADRUPEDIA</small></h3>
                <p>Nos colocaremos de pie con los pies en paralelo y los brazos estirados a lo largo del cuerpo.
                    Cogeremos aire, y al soplar, llevaremos los brazos al frente, elevaremos los talones y aguantaremos
                    la posici칩n durante 10-15 segundos.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ78lqPGGfaEvjH-wFHeanhUCqx1AWwL2FSg&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>ELEVANDO LOS TALONES</small></h3>
                <p>Para el siguiente ejercicio utilizaremos una silla como apoyo. Nos colocaremos de pie, detr치s de la
                    silla y con la mano derecha apoyada en el respaldo.
                    Cogeremos aire, y al soplar, realizaremos una extensi칩n de cadera llevando la pierna izquierda hacia
                    atr치s.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP98VwksWm2E3sAek8d3WZNLTAToC9wBnb6Q&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>SILLA COMO APOYO</small></h3>
                <p>Por 칰ltimo, nos colocaremos de pie, con los pies paralelos y los brazos en cruz. Cogeremos aire, y al
                    soplar, flexionaremos la rodilla y elevaremos la pierna en diagonal intentando tocar la rodilla con
                    la mano contraria.</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf-eqqwUjfkvP3lwhT_MvkM94DJNkGQz_itg&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>SINGLE-LEG DEADLIFT</small></h3>
                <p>Para realizar el peso muerto con una pierna, empieza el ejercicio de pie. Mant칠n el core activado.
                    Ahora lleva despacio una pierna hacia atr치s manteni칠ndola estirada. A la vez, mueve el torso hacia
                    adelante hasta que quede paralelo al suelo, con los brazos extendidos a la altura de los hombros,
                    perpendiculares al suelo. Para subir, lleva la pierna trasera hacia adelante.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp73JHrQDsJJMCJ4nuzJUdM-4DJfoIxZ_47w&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>SPEED SKATERS</small></h3>
                <p>춰Pon a prueba tu equilibrio y estabilidad con el ejercicio del patinador! Empieza en posici칩n
                    erguida, con los pies separados a la anchura de las caderas. Pasa el peso a tu pierna derecha y
                    levanta el pie izquierdo del suelo. Activa la pierna de base a la vez que mantienes el equilibrio
                    con la pierna izquierda ligeramente detr치s de ti. Ahora salta encima del pie izquierdo en la otra
                    direcci칩n. </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSJYdHtm2-L36lC639Au5DS321LyJiA2aOAA&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>SINGLE LEG SQUATS</small></h3>
                <p>Empieza de pie con todo el peso sobre una pierna. Flexiona ligeramente la pierna opuesta y ll칠vala
                    por delante de ti. Ahora, flexiona lentamente la pierna de base hasta la posici칩n de sentadilla
                    manteniendo la rodilla estable y en l칤nea con el tobillo. Despu칠s de completar todas las
                    repeticiones sobre una pierna, cambia de lado.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfVYmzB0wj5z7Thae9qM9qSQT1obuw9y0fPQ&usqp=CAU" alt="" width="250px" height="200px">
                <h3><small>LUNGE & TWIST</small></h3>
                <p>Empieza en posici칩n erguida, con los pies juntos. Activa el core y lleva el pecho hacia arriba. Baja
                    en posici칩n de zancada con el pie derecho por delante. La rodilla frontal debe quedar perpendicular
                    al suelo, manteni칠ndola en l칤nea con el tobillo y por detr치s de los dedos de los pies. Aguanta la
                    posici칩n, manteniendo las caderas, las rodillas y las piernas quietas mientras haces una torsi칩n. </p>
            </div>

        </div>
        <br>
        <h1 class=" text-uppercase fw-bold">Rutinas de Ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/KXnOryN4ENc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>C칍MO ORGANIZAR TU RUTINA DE ENTRENAMIENTO / GU칈A COMPLETA</small></h3>
                <p>Ejercicio para entrenar a los f칤sico culturistas para aumentar la capacidad f칤sica, desarrollando las
                    cualidades de un individuo de la forma mas adecuada. Podremos ver
                    los cambios que sufr칤 desde el punto de vista metab칩lico antes y
                    despu칠s apoyado de una rutina de ejercicio y dieta proporcionada.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/8gZO_xzcnsw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>ENTREN칄 30 D칈AS SEGUIDOS COMO FISICOCULTURISTA | EXPLICACI칍N CIENT칈FICA | DOCTOR VIC</small>
                </h3>
                <p>El fisicoculturismo es un deporte consistente en la realizaci칩n de
                    entrenamiento de desarrollar y controlar la musculatura. Consiste en entrenamiento con pesas en un
                    gimnasio en el que se realizan diversos tipos de ejercicios de fuerza, orientados a generar
                    hipertrofia muscular.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/-TR8idBdmHM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>Rutina FULL BODY DEVASTADORA, dise침ada para aumentar el metabolismo y crecimiento
                        muscular.</small></h3>
                <p>Esta rutina est치 dise침ada para crear una aceleraci칩n metab칩lica intensiva y crear nuevas fibras
                    musculares, m칰sculos grandes con m칰sculos peque침os. Siempre antes de tu rutina de ejercicios debes
                    calentar y estirar. Entrenar con m칰sica da mojores resultados para entrenar comodamente y a gusto.
                </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/dZ5NBLvEFas"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>Arnold Schwarzenegger: 6 EJERCICIOS FAVORITOS para M치ximas Ganancias</small></h3>
                <p>Comenzamos con el cl치sico press de banca con barra. Arnold hacia una variaci칩n de este ejercicio para
                    pecho tan popular con un agarre m치s abierto sobre la barra. Sent칤a que al tomar un agarre m치s
                    abierto pod칤a estimular de mejor forma los pectorales al minimizar la contribuci칩n de los tr칤ceps.

                </p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/ZyaqjkuWYYU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>Rutina de 5 D칤as para Aumentar Masa Muscular en el Gym 游눤 (춰M치xima Hipertrofia!)</small></h3>
                <p>Gana masa muscular y pierde grasa con esta rutina de ejercicios de cinco d칤as para hacer en el
                    gimnasio. Aumentar masa muscular en el gym puede ser un proceso muy frustrante si no sabes qu칠
                    hacer. Esta
                    rutina explicada, con toda la planificaci칩n semanal, para que puedas
                    probarla y empezar a conseguir resultados.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/rlxrup4WFLg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>RUTINA PARA PRINCIPIANTES GYM | Hombres & Mujeres</small></h3>
                <p>Comienzas por primera vez el gimnasio y quieres conseguir resultados inmediatamente. El
                    error que cometen muchas personas es comenzar m치s fuerte de lo que realmente pueden. Coger
                    m치s peso del que deber칤as. Por eso, te quiero mostrar una rutina para principiantes que durar치
                    exactamente un mes. </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/cyDNtEbsqcI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>游댠 ENTRENAMIENTO MILITAR EN CASA 游눩 | FULL BODY | SIN MATERIAL</small></h3>
                <p>Salir a correr durante quince minutos manteniendo el nivel lo m치s alto posible o, en su defecto,
                    saltar a la comba en casa con una velocidad media-alta durante este mismo tiempo de tal manera que
                    se acelere el ritmo de las pulsaciones antes de continuar con la din치mica prevista para este tercer
                    d칤a.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/53lHM0lkTUQ"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3><small>RUTINA DE ESPALDA Y BICEPS Mr. Olympia de Chris Bumstead (Martes) gym topz</small></h3>
                <p>Los b칤ceps y la espalda son m칰sculos sin칠rgicos, se complementan, porque cuando trabajas la espalda
                    estimulas indirectamente los b칤ceps. Este tipo de entrenamiento ayuda a fatigar los m칰sculos y es
                    buen칤simo para fortalecer y definir. Esta es una rutina que se hace r치pido.</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <h1 class=" text-uppercase fw-bold">Blog de curiosidades sobre los ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <h1 class=" text-uppercase fw-bold">Visualizaci칩n de Ejercicios de Entrenamiento</h1>
        <!--main content-->
        <br>
        <h2>Visualizaci칩n de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Visualizaci칩n de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Visualizaci칩n de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <h2>Visualizaci칩n de Ejercicios de Entrenamiento para Flexibilidad</h2>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/image.png" alt="" width="250px" height="200px">
                <p class="btn btn-primary w-20">Ejercicio de </p>
                <p>Ejercicio para</p>
            </div>

        </div>
        <br>
        <br>
        <br>

        <a href="/about" class="btn btn-primary w-25">Productos</a>
        <%- include('partials/footer')%>
</body>

</html>