<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <br>
            <h1 class="display-1 ">BLOG</h1>
            <!--main content-->
            <br>
            <h2>4 BENEFICIOS DE ENTRENAR EL EQUILIBRIO</h2>
            <div class="container vh-50 d-flex justify-content-center align-items-center"
                style="position: relative;top: 60px; left: -7px;">
                <div class="w-20" style="position: relative;top: -30px; left: -27px;">
                    <img src="https://www.sport.es/labolsadelcorredor/wp-content/uploads/2020/04/81pRvuI26CL._AC_SL1500_.jpg"
                        alt="" width="250px" height="250px">
                </div>

                <br>
                <br>
                <br>
                <br>

                <div class="w-50" width="550px" height="550px">
                    <h3 style="width: 630px; height: 100px; color: rgb(5, 53, 85); background-color: aliceblue;"><small>MEJORA LA COORDINACIÓN DE TUS
                            MOVIMIENTOS. Por lo que facilita la
                            capacidad de reacción ante un traspiés.
                        </small></h3>
                    <h3 style="width: 630px; height: 100px; color: rgb(5, 53, 85); background-color: aliceblue;"><small>AYUDA A QUE LOS MOVIMIENTOS SEAN
                            MÁS EFICIENTES EN SU EJECUCIÓN. De
                            esta manera, favorece no sólo la mejor
                            ejecución de tu entrenamiento de fuerza, sino
                            que previene lesiones.</small></h3>

                    <h3 style="width: 630px; height: 100px; color: rgb(5, 53, 85); background-color: aliceblue;"><small>FORTALECE EL SISTEMA NEUROMUSCULAR Y
                            AUMENTA LA ESTABILIDAD DEL CUERPO.
                            Fundamental esta estabilidad en el núcleo central
                            del cuerpo (core) para nuestro día a día y el
                            rendimiento deportivo.
                        </small></h3>

                    <h3 style="width: 630px; height: 100px; color: rgb(5, 53, 85); background-color: aliceblue;"><small>EL EQUILIBRIO DINÁMICO MEJORA LA
                            FUERZA DE TUS MÚSCULOS QUE BUSCAN
                            MANTENER LA ESTABILIDAD DURANTE EL
                            MOVIMIENTO, y te permite aumentar tu propio
                            conocimiento del cuerpo, tu propiocepción.
                        </small></h3>
                </div>
            </div>
            </div>
        </section>
    </main>
    <br>
    <br>
        <a class="nav-link" href="/about" style="background-color: black; color:azure; width: 100px; height:30px;text-align: center;">Siguiente</a>
        <%- include('partials/footer')%>
</body>

</html>